<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHAXhonQOgXBQuqjbFwzwW93GYJdfOBfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1050605696997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reviewApp</string>
	<key>PROJECT_ID</key>
	<string>reviewapp-340b4</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewapp-340b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050605696997:ios:a845c89a053965d2d7210c</string>
</dict>
</plist>